@import (reference) url(./global/styles/spectro-mixins.less);

body {
    background-color: var(--surface-base);
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: var(--base-4, 24px);
    gap: var(--base-3, 16px);
}

ol {
    list-style-position: inside;
    padding-inline-start: 0;

    li {
        .font-h3();
        font-weight: 400;

        a {
            color: currentColor;

            &:not(:hover) {
                text-decoration: none;
            }
        }

        span {
            .font-h6();
            margin-inline-start: 1ch;
            color: var(--text-secondary);
            
        }
    }
}