:root {
  color-scheme: light dark;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: var(--font-stack-main);
  font-variation-settings: var(--font-axes-main);
  font-feature-settings: var(--font-features-main);
  font-weight: var(--font-weight-main);
  font-size: var(--font-size-base);
  color: var(--text-primary);
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-stack-headings);
  font-variation-settings: var(--font-axes-headings);
  font-feature-settings: var(--font-features-headings);
  font-weight: var(--font-weight-headings);
}
h1 {
  font-family: var(--font-stack-headings);
  font-variation-settings: var(--font-axes-headings);
  font-feature-settings: var(--font-features-headings);
  font-weight: var(--font-weight-headings);
  font-size: var(--font-size-xxxxl);
}
